{% extends "base.html" %}

{% block title %}
    Edit Profile 
{% endblock title %}

{% block content %}

    <!-- Authentication -->
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
              
            <h3 class="text-center mb-4"> Edit Profile  </h3>

            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.media}}
                    {{form.as_p}}
                    <button class="  btn btn-primary">
                        Update Profile
                    </button>
                </form>
            </div>
        

    {% else %}

        You're not the correct user to edit this page

    {% endif %}

    {% else %}
        
        You are not allowed here! <br> 
    {% endif %}
    


{% endblock  %}