{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <div class="profile-content">
        <div class="profile-img">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="name">
                    <h2>{{ user.first_name }} {{user.last_name}}</h2>
                    <span>{{ user.username }}</span>
                    <span>{{ user.email }}</span>
                </div>
            </div>
            <button class="edit">
            <i class="fa fa-edit"></i>
            Edit
        </button>
        </div>

        <hr class="break" />
    </div>
        

{% endblock  %}