{% extends "base.html" %}

{% block title %}
Delete - {{post.title}}
{% endblock title %}

{% block content %}

<h3 class="text-center"> Delete - {{post.title}} <br> <br>
    <strong class="text-center">Are You Sure?</strong>
</h3>

<!-- Authentication -->
{% if user.is_authenticated %}

{% if user.id == post.author.id %}
<div class="form-group">
    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary form-control">
            Delete Post!
        </button>
    </form>
</div>
{% else %}
You are not allowed here! <br>
{% endif %}

{% else %}

You are not allowed here! <br>
Please login first

{% endif %}


{% endblock  %}