{% extends "base.html" %}

{% block title %}
easyBlog
{% endblock title %}

{% block content %}

<h3 class="text-center">Welcome to easyBlog</h3>

<h2>Posts</h2> <br>

<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article' post.pk %}">
      {{ post.title }}
    </a>

    <a href="{% url 'category' post.category|slugify %}">
      - {{ post.category }}
    </a>

    -
    {% if post.author.first_name %}

    {{ post.author.first_name }}
    {{ post.author.last_name }}

    {% else %}
    {{ post.author.username }}
    {% endif %}

    -
    {{ post.post_date }}
    <small>

      <!-- Authentication -->
      {% if user.is_authenticated %}

      {% if user.id == post.author.id %}
      <a href="{% url 'updatepost' post.pk %}">(Edit)</a>

      <a href="{% url 'deletepost' post.pk %}">(delete)</a>
      {% endif %}


      {% endif %}

    </small>
    <br />
    {{ post.body|safe | slice:":200" }}
  </li>

  <br> <br>
  {% endfor %}
</ul>

{% endblock  %}